.subjectHeader{
  color: darkblue;
  font-family: sans-serif;
}

th{
  color:#fb4f14;
}

table,td, th{
  border: solid 1px black;
  text-align: center;
}

ul > li{
  list-style-type: square;
}

#checkbox-grid li{
  list-style-type: none;
}

a:hover{
  background-color: lightgrey;
  text-decorlation: none;
}

blockquote{
  background-color: green;
  color:red;
}

tr:nth-child(even){
  background-color: lightgrey;
}

ol > li:first-child{
font-weight: bold;
}

img{
  visibility: hidden;
  list-style-type:disc;
}

#teamRoster > li:first-child{
background: linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)),url(https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  list-style: none;
  margin-bottom: 10px;
}

#teamRoster > li:last-child{
background: linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)),url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  list-style: none;
}
